
# Dependency directories
/node_modules
/build
jspm_packages
npm-debug.log

# Optional REPL history
.node_repl_history

# bower components
/bower_components

# local environment variable file
.env

# images
assets/profile_image/
assets/cms_banner/
assets/schoolprofile_image/
assets/homepage_banner/

# VSC files
jsconfig.json
.vscode/
typings/
/nbproject
public/images/attachments
public/images/blog
public/images/profilePics
public/images/userimages
logs/
