<div class="row fade-in-up">
	<div class="col-md-12">
		<div class="portlet light bordered">
		    <div class="portlet-title">
		        <div class="caption">
		            <i class="icon-equalizer font-green-haze"></i>
		            <span class="caption-subject font-green-haze bold uppercase">View CMS Info - {{cms.title}}</span>
		            <span class="caption-helper"><i>(last update on {{cms.updated_at | date: format : 'dd/m/y'}})</i></span>
		        </div>
		        <div class="tools">
		            <button ui-sref="cms" class="btn default">Back</button>
		        </div>
		    </div>
		    <div class="portlet-body">
                <!-- BEGIN FORM-->
                <form novalidate class="form-horizontal" name="updateCMSForm" ng-keydown="clear($event.target.name, updateCMSForm)">
                    <div class="form-body">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="title">Title <span class="required">*</span></label>
                            <div class="col-md-10">
                                <input type="text" name="title" ng-model="cms.title" class="form-control" id="title" placeholder="Enter your cms title" readonly>
                           </div>
                        </div>
                      
                                 
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="description">Description <span class="required">*</span></label>
                            <div class="col-md-10">
                                <text-angular ng-required="true" ng-model="cms.description" ta-disabled="true"></text-angular>
                             </div>
                        </div>

                       <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="meta_title">Meta Title <span class="required">*</span></label>
                            <div class="col-md-10">
                                <input type="text" name="meta_title" ng-model="cms.meta_title" class="form-control" id="meta_title" placeholder="Enter your cms meta_title" readonly>
                            </div>
                        </div>

                    <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="meta_keyword">Meta Keyword <span class="required">*</span></label>
                            <div class="col-md-10">
                                <input type="text" name="meta_keyword" ng-model="cms.meta_keyword" class="form-control" id="meta_keyword" placeholder="Enter your cms meta keyword" readonly>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="meta_description">Meta Description <span class="required">*</span></label>
                            <div class="col-md-10">
                             <textarea rows="4" name="meta_description" ng-model="cms.meta_description" class="form-control" id="meta_description" placeholder="Enter your meta description" readonly></textarea>
                           </div>
                        </div>


                       <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="status">Status <span class="required">*</span></label>
                            <div class="col-md-10">
                                <select id="status" class="form-control" name="status" ng-model="cms.status" disabled="true" readonly ng-options="trade.value as trade.text for trade in [{text: 'Active', value:true},{text: 'Inactive', value: false}]">
                                </select>
                            </div>    
                        </div>

                     <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="button" ng-click="goToEdit()" class="btn green">
                                            <i class="fa fa-pencil"></i> Edit</button>
                                        <a href ui-sref="cms" class="btn default">Back</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>

                    </div>
    
                </form>
                <!-- END FORM-->
            </div>
		</div>
	</div>
</div>		