.form-group.form-md-line-input .help-block{opacity: 1; }
multiselect .btn-group.open>.dropdown-menu{max-height: 200px; overflow: auto;}
multiselect a.item-selected {
    background-color: #32c5d2 !important;
    color: #ffffff !important;
}
multiselect .dropdown-menu>li>a>[class*=" glyphicon-"], .dropdown-menu>li>a>[class^=glyphicon-] {color: #ffffff !important;}
.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-separator { padding-right: 20px; }
.no-notification {
	text-align: center;
}
.no-notification * {
	display: block;

}
.no-notification span {
	font-size: 16px;
    font-style: italic;
}
.no-notification i {
  font-size: 100px;
  color: #444d58;
  height: 70px;
    margin-top: 160px;
}
.no-notification-panel {
  color: #fff;
  text-align: center;
  margin-top: 73px;
  padding: 0 15px;
}
.no-notification-panel i {
  display: block !important;
  margin: auto;
  font-size: 50px;
  height: 50px;
  color: rgba(239, 239, 239, 0.67);
}
.page-header .page-header-top .page-logo .logo-default {
  margin: 17.5px 0 0;
}
.gradient-color {
  background: -webkit-linear-gradient(right,#070703 35%,#0a4cac);
    color: #3645d9;
        -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Datatables table header font size */
.table thead tr th { font-size: 12px!important; text-align: center;}
.table td, .table th { font-size: 12px!important; }
table.dataTable thead th {padding: 8px 10px 8px 5px!important;}
.fullLftNW div.dataTables_filter{width: 100%; text-align: left;}

.fullLftNW div.dataTables_filter label{width: 100%;}
.fullLftNW div.dataTables_filter input {width: 30% !important; height: 30px !important}
.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all).btn-sm {
  font-size: 10px;
  padding: 3px 9px;
}
.input-sm { height: 24px!important; padding: 1px 10px!important;}
.input-mini { width: 40px!important; }
div.dataTables_wrapper div.dataTables_length select { width: 60px!important; }