<div class="row fade-in-up">
	<div class="col-md-12">
		<div class="portlet light bordered">
		    <div class="portlet-title">
		        <div class="caption">
		            <i class="icon-equalizer font-green-haze"></i>
		            <span class="caption-subject font-green-haze bold uppercase">View What DO Steps Info - {{whatdosteps.title}}</span>
		            <span class="caption-helper"><i>(last update on {{whatdosteps.updated_at | date: format : 'dd/m/y'}})</i></span>
		        </div>
		        <div class="tools">
		            <button ui-sref="whatdosteps" class="btn default">Back</button>
		        </div>
		    </div>
           <div class="portlet-body">
                <!-- BEGIN FORM-->
                <form novalidate ng-submit="edit_whatdosteps(updateWhatDoStepForm.$valid)" class="form-horizontal" name="updateWhatDoStepForm" ng-keydown="clear($event.target.name, updateWhatDoStepForm)">
                    <div class="form-body">
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="title">Title <span class="required">*</span></label>
                            <div class="col-md-10">
                                <input type="text" name="title" ng-model="whatdosteps.title" class="form-control" id="title" placeholder="Enter your whatdosteps title" readonly>
                         </div>
                        </div>
                      
                                 
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="short_description">Short Description <span class="required">*</span></label>
                            <div class="col-md-10">
                                
                             <textarea rows="4" name="short_description" ng-model="whatdosteps.short_description" class="form-control" id="short_description" placeholder="Enter your short description" ng-maxlength="160" ng-minlength="130" readonly></textarea>
                           </div>
                        </div>

                          <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="long_description">Long Description <span class="required">*</span></label>
                            <div class="col-md-10">
                                <text-angular ng-required="true" ng-model="whatdosteps.long_description" ta-disabled="true"></text-angular>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="order">Order <span class="required">*</span></label>
                            <div class="col-md-10">
                                <select id="order" class="form-control" name="order" ng-model="whatdosteps.order" disabled="true" ng-options="v as v for v in [1,2,3,4]">
                                </select>
                            </div>    
                        </div>

                       <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="status">Status <span class="required">*</span></label>
                            <div class="col-md-10">
                                <select id="status" class="form-control" name="status" ng-model="whatdosteps.status" disabled="true" ng-options="trade.value as trade.text for trade in [{text: 'Active', value:true},{text: 'Inactive', value: false}]">
                                </select>
                            </div>    
                        </div>

                      <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="button" ng-click="goToEdit()" class="btn green">
                                            <i class="fa fa-pencil"></i> Edit</button>
                                        <a href ui-sref="whatdosteps" class="btn default">Back</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                      </div>

                    </div>
               </form>
                <!-- END FORM-->
            </div>
		</div>
	</div>
</div>		