<div class="row fade-in-up">
	<div class="col-md-12">
		<div class="portlet light bordered">
		    <div class="portlet-title">
		        <div class="caption">
		            <i class="icon-equalizer font-green-haze"></i>
		            <span class="caption-subject font-green-haze bold uppercase">{{userinfo.school_name}}</span>
		            <!-- <span class="caption-helper">some info...</span> -->
		        </div>
		        <div class="tools">
		            <button type="button" ng-click="goBack()" class="btn default">Back</button>
		        </div>
		    </div>
		    <div class="portlet-body">
			                 <!-- BEGIN FORM-->
                <form novalidate  class="form-horizontal" ng-submit="approveRejectRequest(viewUserForm.$valid,userinfo)" name="viewUserForm" ng-keydown="clear($event.target.name, viewUserForm)">
                    <div class="form-body">
                                     
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="customer_url">Contact Name</label>
                            <div class="col-md-10">
                                <input type="text" name="customer_url" ng-model="userinfo.contact_name" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">Contact Title </label>
                            <div class="col-md-10">
                                <input type="text" name="email" ng-model="userinfo.contact_title" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">Email Address</label>
                            <div class="col-md-10">
                                <input type="text" name="email" ng-model="userinfo.email_address" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="customer_url">Contact Telephone No </label>
                            <div class="col-md-10">
                                <input type="text"  ng-model="userinfo.contact_telephoneno" class="form-control"  readonly>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" >School Telephone No </label>
                            <div class="col-md-10">
                                <input type="text" name="email" ng-model="userinfo.school_telephoneno" class="form-control"  readonly>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">School Name </label>
                            <div class="col-md-10">
                                <input type="text" name="email" ng-model="userinfo.school_name" class="form-control" id="email" readonly>
                            </div>
                        </div>
                       <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">School Address </label>
                            <div class="col-md-10">
                                <input type="text" ng-model="userinfo.school_address" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" >Total No of Students </label>
                            <div class="col-md-10">
                                <input type="text" name="email" ng-model="userinfo.no_of_students" class="form-control" id="email" readonly>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" >Type of School </label>
                            <div class="col-md-10">
                                <input type="text" name="email" ng-model="userinfo.school_type.name" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" >School Levels </label>
                            <div class="col-md-10">
                                <input type="text" name="email" ng-model="userinfo.school_level" class="form-control" id="email" readonly>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" >Why Pilot Program </label>
                            <div class="col-md-10">
                                <input type="text" name="email" ng-model="userinfo.become_pilot_description" class="form-control" id="email" readonly>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" >No of Student Laptops </label>
                            <div class="col-md-10">
                                <input type="text" name="email" ng-model="userinfo.no_of_students_laptop" class="form-control" id="email" readonly>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">Challenges relate to lesson planning </label>
                            <div class="col-md-10">
                                <textarea rows="4" name="answer" ng-model="userinfo.school_challenges_lesson_planning" class="form-control" readonly></textarea>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">Challenges relate to teacher's gradebook </label>
                            <div class="col-md-10">
                                <textarea rows="4" name="answer" ng-model="userinfo.school_challenges_teacher_gradebook" class="form-control" readonly></textarea>
                            </div>
                        </div>

                       <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">Challenges relate to student's classwork</label>
                            <div class="col-md-10">
                                <textarea rows="4" name="answer" ng-model="userinfo.school_challenges_students_classwork" class="form-control" readonly></textarea>
                            </div>
                        </div>

                       <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">Goals relate to lesson planning </label>
                            <div class="col-md-10">
                                <textarea rows="4" name="answer" ng-model="userinfo.school_goals_lesson_planning" class="form-control" readonly></textarea>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">Goals relate to teacher's gradebook </label>
                            <div class="col-md-10">
                                <textarea rows="4" name="answer" ng-model="userinfo.school_goals_teacher_gradebook" class="form-control" readonly></textarea>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">Goals relate to student's classwork </label>
                            <div class="col-md-10">
                                <textarea rows="4" name="answer" ng-model="userinfo.school_goals_students_classwork" class="form-control" readonly></textarea>
                            </div>
                        </div>

                       <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">Status</label>
                            <div class="col-md-10">
                          <p ng-bind-html="userinfo.pilot_request"></p>
                            </div>
                        </div>


                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': viewUserForm.request_status.$touched && viewUserForm.request_status.$invalid || viewUserForm.request_status.$invalid && viewUserForm.$submitted }">
                            <label class="col-md-2 control-label" for="request_status">Action</label>
                            <div class="col-md-10">
                               <select id="request_status" class="form-control" name="request_status" ng-model="userinfo.request_status" ng-options="trade.value as trade.text for trade in [{text: 'Approve', value:'Approve'},{text: 'Reject', value: 'Reject'}]" required>
                               </select>
                                <div ng-messages="viewUserForm.request_status.$error"
                                    ng-show="viewUserForm.request_status.$touched || viewUserForm.$submitted">
                                    <span class="help-block" ng-message="required">Action is required.</span>
                                </div>
                    	<!--    		<button class="btn btn-success btn-sm" ng-click="approveSingleReq(userinfo)">Approve
					      		</button>
		      		     		<button class="btn btn-danger btn-sm" ng-click="rejectSingleReq(userinfo)">Reject
					      		</button> -->
                            </div>
                        </div>


                        <div class="form-actions">
		                <div class="row">
		                   <div class="col-md-9 col-md-offset-2">
                             <button type="submit" ladda="isLoading" class="btn green">Submit</button>
                             <button type="button" ng-click="goBack()" class="btn default">Back</button>
                            </div>
              
		                </div>
		            </div>
        
                </form>
                <!-- END FORM-->   
		    </div>
		</div>
	</div>
</div>		
