<div class="row fade-in-up">
	<div class="col-md-12">
		<div class="portlet light bordered">
		    <div class="portlet-title">
		        <div class="caption">
		            <i class="icon-equalizer font-green-haze"></i>
		            <span class="caption-subject font-green-haze bold uppercase">{{userinfo.school_name}}</span>
		            <!-- <span class="caption-helper">some info...</span> -->
		        </div>
		        <div class="tools">
		            <button type="button" ng-click="goBack()" class="btn default">Back</button>
		        </div>
		    </div>
		    <div class="portlet-body">
	<!-- 		<div class="row">	
			    	<div class="col-md-8 col-md-offset-2">
			    	  <table class="table table-bordered marginTop10">
					    <thead></thead>
					    <tbody>
		    		      <tr>
					        <th>Contact Name</th>
					        <td>{{userinfoinfo.contact_name}}</td>
					      </tr>
					      <tr>
					        <th>Contact Title</th>
							<td>{{userinfoinfo.contact_title}}</td>
					      </tr>
					      <tr>
					      	<th>Email Address</th>
					      	<td>{{userinfoinfo.email_address}}</td>
					      </tr>
					      <tr>
					      	<th>Contact Telephone No</th>
					      	 <td>{{userinfoinfo.contact_telephoneno}}</td>
					      </tr>
					      <tr>
					      	 <th>School Telephone No</th>
					      	  <td>{{userinfoinfo.school_telephoneno}}</td>
					      </tr>
					      <tr>
					      	<th>School Name</th>
					      	<td>{{userinfoinfo.school_name}}</td>
					      </tr>
					      <tr>
					      	<th>School Address</th>
					      	<td>{{userinfoinfo.school_address}}</td>
					      </tr>
					      <tr>
					      	<th>Total No of Students</th>
					      	<td>{{userinfoinfo.no_of_students}}</td>
					      </tr>
					      <tr>
					      	 <th>Type of School</th>
					      	 <td>{{userinfoinfo.school_type.name}}</td>
					      </tr>
					      <tr>
					      	<th>School Levels</th>
					      	<td>{{userinfoinfo.school_level}}</td>
					      </tr>
					      <tr>
					      	<th>Why Pilot Program</th>
					      	<td>{{userinfoinfo.become_pilot_description}}</td>
					      </tr>
					      <tr>
					      	<th>No of Student Laptops</th>
					      	<td>{{userinfoinfo.no_of_students_laptop}}</td>
					      </tr>
					      <tr>
					      	<th>Challenges relate to lesson planning</th>
					      	<td>
					      	{{userinfoinfo.school_challenges_lesson_planning}}
					      	</td>
					      </tr>
					      <tr>
					      	<th>Challenges relate to teacher's gradebook</th>
					      	<td>
					      	{{userinfoinfo.school_challenges_teacher_gradebook}}
					      	</td>
					      </tr>
					      <tr>
					      	<th>Challenges relate to student's classwork</th>
					      	<td>{{userinfoinfo.school_challenges_students_classwork}}
					      	</td>
					      </tr>
					      <tr>
					      	<th>Goals relate to lesson planning</th>
					      	<td>{{userinfoinfo.school_goals_lesson_planning}}</td>
					      </tr>
					      <tr>
					      	<th>Goals relate to teacher's gradebook</th>
					      	<td>{{userinfoinfo.school_goals_teacher_gradebook}}</td>
					      </tr>
					      <tr>
					      	<th>Goals relate to student's classwork</th>
					      	<td>
					      	{{userinfoinfo.school_goals_students_classwork}}
					      	</td>
					      </tr>

					      <tr>
					      	<th>Status</th>
					      	<td>
	           			       <p ng-bind-html="userinfoinfo.pilot_request"></p>
					      	</td>
					      </tr>
					      <tr>
					      	<th>Action</th>
					      	<td>
					      		<button class="btn btn-success btn-sm" ng-click="approveSingleReq(userinfoinfo)">Approve
					      		</button>
		      		     		<button class="btn btn-danger btn-sm" ng-click="rejectSingleReq(userinfoinfo)">Reject
					      		</button>
					      	</td>
					      </tr>
					    </tbody>
				  </table>
			    	</div>
			    </div> -->

			                 <!-- BEGIN FORM-->
                <form novalidate  class="form-horizontal">
                    <div class="form-body">
                                     
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="customer_url">Contact Name</label>
                            <div class="col-md-10">
                                <input type="text" name="customer_url" ng-model="userinfo.contact_name" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">Contact Title </label>
                            <div class="col-md-10">
                                <input type="text" name="email" ng-model="userinfo.contact_title" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">Email Address</label>
                            <div class="col-md-10">
                                <input type="text" name="email" ng-model="userinfo.email_address" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="customer_url">Contact Telephone No </label>
                            <div class="col-md-10">
                                <input type="text"  ng-model="userinfo.contact_telephoneno" class="form-control"  readonly>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" >School Telephone No </label>
                            <div class="col-md-10">
                                <input type="text" name="email" ng-model="userinfo.school_telephoneno" class="form-control"  readonly>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">School Name </label>
                            <div class="col-md-10">
                                <input type="text" name="email" ng-model="userinfo.school_name" class="form-control" id="email" readonly>
                            </div>
                        </div>
                       <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">School Address </label>
                            <div class="col-md-10">
                                <input type="text" ng-model="userinfo.school_address" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" >Total No of Students </label>
                            <div class="col-md-10">
                                <input type="text" name="email" ng-model="userinfo.no_of_students" class="form-control" id="email" readonly>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" >Type of School </label>
                            <div class="col-md-10">
                                <input type="text" name="email" ng-model="userinfo.school_type.name" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" >School Levels </label>
                            <div class="col-md-10">
                                <input type="text" name="email" ng-model="userinfo.school_level" class="form-control" id="email" readonly>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" >Why Pilot Program </label>
                            <div class="col-md-10">
                                <input type="text" name="email" ng-model="userinfo.become_pilot_description" class="form-control" id="email" readonly>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" >No of Student Laptops </label>
                            <div class="col-md-10">
                                <input type="text" name="email" ng-model="userinfo.no_of_students_laptop" class="form-control" id="email" readonly>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">Challenges relate to lesson planning </label>
                            <div class="col-md-10">
                                <textarea rows="4" name="answer" ng-model="userinfo.school_challenges_lesson_planning" class="form-control" readonly></textarea>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">Challenges relate to teacher's gradebook </label>
                            <div class="col-md-10">
                                <textarea rows="4" name="answer" ng-model="userinfo.school_challenges_teacher_gradebook" class="form-control" readonly></textarea>
                            </div>
                        </div>

                       <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">Challenges relate to student's classwork</label>
                            <div class="col-md-10">
                                <textarea rows="4" name="answer" ng-model="userinfo.school_challenges_students_classwork" class="form-control" readonly></textarea>
                            </div>
                        </div>

                       <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">Goals relate to lesson planning </label>
                            <div class="col-md-10">
                                <textarea rows="4" name="answer" ng-model="userinfo.school_goals_lesson_planning" class="form-control" readonly></textarea>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">Goals relate to teacher's gradebook </label>
                            <div class="col-md-10">
                                <textarea rows="4" name="answer" ng-model="userinfo.school_goals_teacher_gradebook" class="form-control" readonly></textarea>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">Goals relate to student's classwork </label>
                            <div class="col-md-10">
                                <textarea rows="4" name="answer" ng-model="userinfo.school_goals_students_classwork" class="form-control" readonly></textarea>
                            </div>
                        </div>


                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">Status</label>
                            <div class="col-md-10">
                          <p ng-bind-html="userinfo.pilot_request"></p>
                            </div>
                        </div>


                        <div class="form-group form-md-line-input">
                            <label class="col-md-2 control-label" for="email">Action</label>
                            <div class="col-md-10">
                    	   		<button class="btn btn-success btn-sm" ng-click="approveSingleReq(userinfoinfo)">Approve
					      		</button>
		      		     		<button class="btn btn-danger btn-sm" ng-click="rejectSingleReq(userinfoinfo)">Reject
					      		</button>
                            </div>
                        </div>


                        <div class="form-actions">
		                <div class="row">
		                   <div class="col-md-6"> </div>
		                    <div class="col-md-6">
		                        <div class="row">
		                            <div class="col-md-offset-9 col-md-3">
		                                <button type="button" ng-click="goBack()" class="btn default">Back</button>
		                            </div>
		                        </div>
		                    </div>
		                 
		                </div>
		            </div>
        
                </form>
                <!-- END FORM-->   
		    </div>
		</div>
	</div>
</div>		
